.establishments {
  max-width: 1100px;
  padding: 130px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;
  flex-direction: column;
}

.textSlider {
  width: 70%;
}

.titleSlider {
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1.25;
  color: #138afd;
  margin-bottom: 1rem;
}

.subTitleSlider {
  font-style: normal;
  font-weight: 400;
  font-size: 1.15em;
  line-height: 134%;
  margin-bottom: 2em;
  color: #4e5052;
}

.establishmentsImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 1100px;
}

.imageContainer {
  position: relative;
  width: 178px;
  height: 100px;
  overflow: hidden;
}

.beforeImage,
.afterImage {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.beforeImage {
  top: 0;
  left: 0;
}

.imageContainer:hover .beforeImage {
  transform: translateY(-100%);
}

.imageContainer:hover .afterImage {
  transform: translateY(-100%);
}

.afterImage {
  top: 100%;
  left: 0;
}


@media (max-width: 1180px) {
  .establishmentsImage {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media (max-width: 985px) {
  .textSlider {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .establishments {
    max-width: 500px;
  }

  .textSlider {
    width: 80%;
    padding: 0 36px;
  }
}