.sectionSlider {
  padding-top: 16px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.textSlider {
  width: 50%;
}

.titleSlider {
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1.25;
  color: #138afd;
  margin-bottom: 1rem;
}


.subTitleSlider {
  font-style: normal;
  font-weight: 400;
  font-size: 1.15em;
  line-height: 134%;
  margin-bottom: 2em;
  color: #4e5052;
}

.containerButtonSlider {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.buttonFirstSlider {
  position: relative;
  z-index: 1;
  height: 55px;
  font-size: 16px;
  padding: 0 35px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  border: none;
  font-weight: 700;
  background-color: #007bff;
  overflow: hidden;
  transition: color 0.9s ease-in-out;
  transition-timing-function: cubic-bezier(.77, 0, .175, 1);
  cursor: pointer;
}

.buttonFirstSlider::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  font-weight: 700;
  background-color: #f6716f;
  transition: left 0.9s ease-in-out;
  z-index: -1;
}

.buttonFirstSlider:hover {
  color: white;
}

.buttonFirstSlider:hover::before {
  left: 0;
}


.buttonSecondSlider {
  position: relative;
  z-index: 1;
  height: 55px;
  font-size: 16px;
  padding: 0 35px;
  text-align: center;
  color: #007bff;
  border-radius: 3px;
  font-weight: 700;
  background-color: white;
  border: 2px solid #007bff;
  cursor: pointer;
}

.buttonSecondSlider:hover {
  color: #f6716f;
  border: 2px solid#f6716f;
}


.carrossel {
  width: 50%;
  padding-left: 120px;
}

.imagensCarrossel {
  .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.imagensCarrossel {
  .slick-slide {
    display: flex !important;
    justify-content: center !important;
  }
}

.imageContainer {
  max-width: 480px;
  max-height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


@media (max-width: 1180px) {
  .sectionSlider {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .carrossel {
    padding-left: 60px;
  }
}

@media (max-width: 600px) {
  .sectionSlider {
    max-width: 750px;
  }

  .carrossel {
    padding-left: 0px;
  }
}


@media (max-width: 485px) {
  .sectionSlider {
    padding: 0 36px;
  }

  .carrossel {
    padding-left: 0px;
  }
}